
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: rgb(22, 21, 21);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}



.navbar-container {
    display: flex;
    background: #FF4E4E;
    padding: .4rem 3rem;
    justify-content: space-between;
    align-items: center;
}

.topright_logo {
    margin: 0;
    text-transform: uppercase;
    font-size: 3.5rem;
}

.navbar {
    margin: 0;
    padding: 0;
    font-size: 1.9rem;
    font-weight: bold;
}

.nav-ul {
    padding: 0;
    display: flex;
}

.nav-li {
    list-style: none;
    text-transform: uppercase;
    margin: 0 3rem;
    cursor: pointer;
    transition: 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.nav-a {
    text-decoration: none;
    color: white;
}

.nav-a:hover {
    color: rgba(255, 255, 255, 0.575);
}

.bg-foto {
    width: 100%;
    height: 100%;
    /* background-size: cover; */
    object-fit:cover;
    position: absolute;
    top: 0;
    z-index: -1;
    filter: brightness(30%);
}

/* ---------------------------------------------------HOME VIEW --------------------------------------------------------- */

.home-container {
    padding: 0;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.left-container {
    margin: 0;
    /* background: rebeccapurple; */
    width: 40%;
}

.welcome-h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

.welcome-p {
    color: #BDBDBD;
    margin-top: 1rem;
    font-size: 2.2rem;
}

.twitter-container {
    margin-top: 5rem;
    border: 10px solid #FF4E4E;
    background: #FF4E4E;
    border-radius: 18px;
    padding: 0;
    box-shadow: 0px 16px 39px 2px rgba(0,0,0,0.82);
}

.twitter-h1 {
    margin: .5rem 0 .5rem 1rem;
}

.right-contianer {
    /* background-color: aqua; */
    padding-top: 3rem;
    margin-left: 3rem;
}

.home-photo {
    /* margin: 3rem 4rem 3rem 4rem; */
    border: 10px solid #FF4E4E;
    width: 673px;
    height: 740px;
    object-fit: cover;
    border-radius: 18px;
    box-shadow: 0px 16px 39px 2px rgba(0,0,0,0.82);
    object-position: 30% 30%;
}
/* --------------------------------------------------- PLAY VIEW ---------------------------------------------------------------- */
.play-container {
    height: 88vh;
    display: flex;
    align-items: center;
}
.play-calculator-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play-calculator-container h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

.play-input-container{
    display: flex;
    justify-content: center;
    width: 40%;
}
.play-input-container input {
    width: 100%;
    height: 4rem;
    background: #C4C4C4;
    border: 4px solid white;
    border-radius: 20px;
    padding: 0 1rem;
    font-size: 2rem;
    font-weight: 500;

}

.play-input-container input::-webkit-outer-spin-button,
.play-input-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.play-input-container input[type=number] {
  -moz-appearance: textfield;
}

.play-numbers-container{
    width: 34%;
}

.play-numbers-container button {
    background: #FF4E4E;
    border: 4px solid white;
    color: white;
    border-radius: 20px;
    font-size: 2.3rem;
    font-weight: 600;
    width: 80px;
    height: 80px;
    transition: 0.3s;
}

.play-numbers-container button:hover {
    background: #ffd5d5;
    color: #FF4E4E;
}



.play-number-spacing{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}
.play-firstrow-numbers{
}

.play-secondrow-numbers{

}

.play-thirdrow-numbers{

}
.enterBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-scoredisplay-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.main-score-display-container{
    width: 60%;
    border: 4px solid white;
    background: #FF4E4E;
    border-radius: 18px;
    
}

.PlayerScoreDisplay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem 2rem 1rem;
}

.player-score {
    font-size: 8rem;
    font-weight: 600;
}

.playerdata-container {
    width: 70%;
}

.playerData {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    font-weight: 600;
}

.playerData span:last-child{
    color: #290000ad;
}

.middelLine {
    width: 100%;
    height: 5px;
    background: white;
}


/* --------------------------------------------------- PLAYER INFO VIEW --------------------------------------------------------- */
/* --------------------------------------------------- PDC RANKING VIEW --------------------------------------------------------- */
.ranking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ranking-container h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

.ranking-container p {
    color: #BDBDBD;
    margin-top: 1rem;
    font-size: 2.2rem;
}

.ranking-text-container {
    width: 50%;

}

.table-container {
    margin: 2rem;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 50%;
    border: 1px solid greenyellow;
    border-radius: 18px;
    border: 5px solid white;
    overflow: hidden;


}
.ranking-table {
    background: #FF4E4E;
    display: flex;
    justify-content: center;
    /* border-radius: 18px; */
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
    width: 100%;
}

.ranking-table::-webkit-scrollbar {
    width:10px;
    border: 3px solid white;
    background: #ff5d5d;
}
.ranking-table::-webkit-scrollbar-track {

}
.ranking-table::-webkit-scrollbar-thumb {
    border-radius:5px;
    background: #0000003a; 
    border: 2px solid white;
}

.ranking-table table {
    width: 100%;
    border-collapse: collapse;
}

.ranking-table th, td {
    padding: 1rem 3rem;
}


.ranking-table td {
    color: #290000bd;
}

.ranking-table th {
    border-bottom:  2px solid white;
    font-size: 2rem;
    text-align: left;
}
.list-tbody tr:nth-child(odd){
    background: #ff5d5d;
}

.tableheader-container {
    display: flex;
    width: auto;
    justify-content: space-evenly;
}

.line {
    width: 100%;
    height: 5px;
    background: #ffffff;
    z-index: 2;
}

.rank-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
}

.rank-li {
    width: auto;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
}

.rank-strong {
    margin: 1rem;
    text-decoration: none;
}